.checked{
    color:orange;
}
.myAlert-bottom{
    position: relative;
    z-index: 1;
}

.alert{
    display: none;
}

#errormsgSign{
    width:300px;
    bottom:10px;
    position: fixed;
    right:2%;
}
.disable{
    pointer-events:none;
    background:#e3e3e3;
}

/*messages*/

#chatBox{
    height: 650px;
    overflow-y: scroll;
}

#textareaSend{
    text-indent: 10px;
    border-top: 0.5px solid #868e96;
}

.conv{
    cursor: pointer;
}
